[Unit]
Description=Xremap
After=default.target

[Service]
ExecStart=sh -c " \
    /usr/bin/xremap \
    /etc/xremap/xremap.yml \
    --watch=device \
    --device=${DEVICE} \
    "
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
