[Desktop Entry]
Name=Run Gamescope Steam from Flex Launcher
Comment=Start Gamescope Steam when launched using flex-launcher
Exec=/usr/bin/flex-gamescope-steam
Type=Application
Icon=steam
